# FORECASTING BUS DEMAND

In [55]:
import pandas as pd
import numpy as np
import datetime

In [56]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)  # Show all raws
pd.set_option('display.float_format', lambda x: '%.3f' %
              x)
pd.set_option('display.width', 500)

In [57]:
MUNICIPALITY_COUNT = 10
TOTAL_DATA_RAW_COUNT = 13070
TOTAL_DATA_FEATURE_COUNT = 4
EACH_MUNICIPALITY_DATA_RAW_COUNT = TOTAL_DATA_RAW_COUNT/MUNICIPALITY_COUNT
FIRST_DATE = "2017-06-04"
LAST_DATE = "2017-08-19"
TIME_COLUMN_NAME = "timestamp"
MUNICIPALITY_COLUMN_NAME = "municipality_id"
USAGE_COLUMN_NAME = "usage"

In [58]:
def check_df(dataframe, head=100):
    '''
    Provides general information about the loaded data.

    Parameters
    ----------
    dataframe: dataframe
    head: int

    Notes
    ----------
    The head value is set to a constant 5.
    '''
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)
    print("##################### Corr #####################")
    print(dataframe.corr())
    print("##################### Describe #####################")
    print(dataframe.describe())

In [59]:
data = pd.read_csv(r"data/municipality_bus_utilization.csv",header=0)
check_df(data)

##################### Shape #####################
(13070, 4)
##################### Types #####################
timestamp          object
municipality_id     int64
usage               int64
total_capacity      int64
dtype: object
##################### Head #####################
              timestamp  municipality_id  usage  total_capacity
0   2017-06-04 07:59:42                9    454            1332
1   2017-06-04 07:59:42                8    556            2947
2   2017-06-04 07:59:42                4   1090            3893
3   2017-06-04 07:59:42                0    204            2813
4   2017-06-04 07:59:42                7    718            2019
5   2017-06-04 07:59:42                5     70             587
6   2017-06-04 07:59:42                2    273             697
7   2017-06-04 07:59:42                1    129             397
8   2017-06-04 07:59:42                6    597            3113
9   2017-06-04 07:59:42                3    623            1930
10  2017-06-04 08:25:42                2    311             697
11  2017-06-04 08:25:42                9    487            1332
12  2017-06-04 08:25:42                6    687            3113
13  2017-06-04 08:25:42                7    789            2019
14  2017-06-04 08:25:42                4   1476            3893
15  2017-06-04 08:25:42                8    674            2947
16  2017-06-04 08:25:42                5     73             587
17  2017-06-04 08:25:42                3    770            1930
18  2017-06-04 08:25:42                0    247            2813
19  2017-06-04 08:25:42                1    138             397
20  2017-06-04 08:59:42                5     89             587
21  2017-06-04 08:59:42                9    527            1332
22  2017-06-04 08:59:42                3    967            1930
23  2017-06-04 08:59:42                2    355             697
24  2017-06-04 08:59:42                1    164             397
25  2017-06-04 08:59:42                8    857            2947
26  2017-06-04 08:59:42                4   2016            3893
27  2017-06-04 08:59:42                7    873            2019
28  2017-06-04 08:59:42                6    801            3113
29  2017-06-04 08:59:42                0    332            2813
30  2017-06-04 09:32:46                8   1045            2947
31  2017-06-04 09:32:46                9    599            1332
32  2017-06-04 09:32:46                6    941            3113
33  2017-06-04 09:32:46                4   2511            3893
34  2017-06-04 09:32:46                0    429            2813
35  2017-06-04 09:32:46                5    116             587
36  2017-06-04 09:32:46                1    213             397
37  2017-06-04 09:32:46                2    423             697
38  2017-06-04 09:32:46                7   1013            2019
39  2017-06-04 09:32:46                3   1130            1930
40  2017-06-04 09:59:48                5    159             587
41  2017-06-04 09:59:48                2    494             697
42  2017-06-04 09:59:48                8   1172            2947
43  2017-06-04 09:59:48                4   2811            3893
44  2017-06-04 09:59:48                7   1151            2019
45  2017-06-04 09:59:48                3   1263            1930
46  2017-06-04 09:59:48                1    245             397
47  2017-06-04 09:59:48                0    485            2813
48  2017-06-04 09:59:48                9    666            1332
49  2017-06-04 09:59:48                6   1061            3113
50  2017-06-04 10:26:49                1    273             397
51  2017-06-04 10:26:49                3   1333            1930
52  2017-06-04 10:26:49                5    186             587
53  2017-06-04 10:26:49                2    539             697
54  2017-06-04 10:26:49                9    724            1332
55  2017-06-04 10:26:49                0    534            2813
56  2017-06-04 10:26:49                6   1151            3113
57  2017-06-04 10:26:49                4   3044            3893
58  2017-06-04 10:26:49                7   1254            2019
59  2017-06-04 10:26:49                8   1266            2947
60  2017-06-04 10:59:48                4   3178            3893
61  2017-06-04 10:59:48                9    800            1332
62  2017-06-04 10:59:48                2    582             697
63  2017-06-04 10:59:48                8   1363            2947
64  2017-06-04 10:59:48                7   1373            2019
65  2017-06-04 10:59:48                0    583            2813
66  2017-06-04 10:59:48                6   1219            3113
67  2017-06-04 10:59:48                3   1396            1930
68  2017-06-04 10:59:48                5    228             587
69  2017-06-04 10:59:48                1    317             397
70  2017-06-04 11:25:47                4   3230            3893
71  2017-06-04 11:25:47                0    597            2813
72  2017-06-04 11:25:47                6   1250            3113
73  2017-06-04 11:25:47                8   1378            2947
74  2017-06-04 11:25:47                2    613             697
75  2017-06-04 11:25:47                7   1433            2019
76  2017-06-04 11:25:47                9    829            1332
77  2017-06-04 11:25:47                1    333             397
78  2017-06-04 11:25:47                3   1437            1930
79  2017-06-04 11:25:47                5    256             587
80  2017-06-04 11:59:44                5    268             587
81  2017-06-04 11:59:44                6   1297            3113
82  2017-06-04 11:59:44                3   1456            1930
83  2017-06-04 11:59:44                7   1479            2019
84  2017-06-04 11:59:44                8   1399            2947
85  2017-06-04 11:59:44                1    341             397
86  2017-06-04 11:59:44                9    845            1332
87  2017-06-04 11:59:44                4   3257            3893
88  2017-06-04 11:59:44                0    614            2813
89  2017-06-04 11:59:44                2    643             697
90  2017-06-04 12:29:45                2    657             697
91  2017-06-04 12:29:45                7   1493            2019
92  2017-06-04 12:29:45                3   1469            1930
93  2017-06-04 12:29:45                5    275             587
94  2017-06-04 12:29:45                9    845            1332
95  2017-06-04 12:29:45                0    613            2813
96  2017-06-04 12:29:45                4   3260            3893
97  2017-06-04 12:29:45                1    343             397
98  2017-06-04 12:29:45                8   1406            2947
99  2017-06-04 12:29:45                6   1306            3113
##################### Tail #####################
                 timestamp  municipality_id  usage  total_capacity
12970  2017-08-19 12:03:32                1    404             397
12971  2017-08-19 12:03:32                8   1233            2947
12972  2017-08-19 12:03:32                4   3099            3893
12973  2017-08-19 12:03:32                6   1743            3113
12974  2017-08-19 12:03:32                5    225             587
12975  2017-08-19 12:03:32                7   1422            2019
12976  2017-08-19 12:03:32                9    801            1332
12977  2017-08-19 12:03:32                3   1433            1930
12978  2017-08-19 12:03:32                2    630             697
12979  2017-08-19 12:03:32                0   1279            2813
12980  2017-08-19 12:30:32                6   1787            3113
12981  2017-08-19 12:30:32                1    406             397
12982  2017-08-19 12:30:32                7   1503            2019
12983  2017-08-19 12:30:32                2    663             697
12984  2017-08-19 12:30:32                8   1251            2947
12985  2017-08-19 12:30:32                5    258             587
12986  2017-08-19 12:30:32                9    849            1332
12987  2017-08-19 12:30:32                3   1484            1930
12988  2017-08-19 12:30:32                0   1281            2813
12989  2017-08-19 12:30:32                4   3157            3893
12990  2017-08-19 13:03:30                3   1519            1930
12991  2017-08-19 13:03:30                5    286             587
12992  2017-08-19 13:03:30                4   3194            3893
12993  2017-08-19 13:03:30                1    406             397
12994  2017-08-19 13:03:30                8   1280            2947
12995  2017-08-19 13:03:30                6   1835            3113
12996  2017-08-19 13:03:30                9    896            1332
12997  2017-08-19 13:03:30                0   1281            2813
12998  2017-08-19 13:03:30                7   1584            2019
12999  2017-08-19 13:03:30                2    697             697
13000  2017-08-19 13:30:35                3   1519            1930
13001  2017-08-19 13:30:35                1    408             397
13002  2017-08-19 13:30:35                9    941            1332
13003  2017-08-19 13:30:35                8   1315            2947
13004  2017-08-19 13:30:35                7   1627            2019
13005  2017-08-19 13:30:35                0   1283            2813
13006  2017-08-19 13:30:35                6   1845            3113
13007  2017-08-19 13:30:35                5    300             587
13008  2017-08-19 13:30:35                2    695             697
13009  2017-08-19 13:30:35                4   3188            3893
13010  2017-08-19 14:03:31                1    408             397
13011  2017-08-19 14:03:31                3   1530            1930
13012  2017-08-19 14:03:31                2    687             697
13013  2017-08-19 14:03:31                0   1283            2813
13014  2017-08-19 14:03:31                8   1332            2947
13015  2017-08-19 14:03:31                5    314             587
13016  2017-08-19 14:03:31                7   1657            2019
13017  2017-08-19 14:03:31                6   1853            3113
13018  2017-08-19 14:03:31                9    979            1332
13019  2017-08-19 14:03:31                4   3183            3893
13020  2017-08-19 14:30:33                3   1526            1930
13021  2017-08-19 14:30:33                9    983            1332
13022  2017-08-19 14:30:33                6   1849            3113
13023  2017-08-19 14:30:33                4   3176            3893
13024  2017-08-19 14:30:33                0   1285            2813
13025  2017-08-19 14:30:33                2    677             697
13026  2017-08-19 14:30:33                1    410             397
13027  2017-08-19 14:30:33                8   1341            2947
13028  2017-08-19 14:30:33                7   1651            2019
13029  2017-08-19 14:30:33                5    318             587
13030  2017-08-19 15:03:34                2    651             697
13031  2017-08-19 15:03:34                0   1283            2813
13032  2017-08-19 15:03:34                8   1336            2947
13033  2017-08-19 15:03:34                7   1618            2019
13034  2017-08-19 15:03:34                5    309             587
13035  2017-08-19 15:03:34                9    976            1332
13036  2017-08-19 15:03:34                4   3111            3893
13037  2017-08-19 15:03:34                1    408             397
13038  2017-08-19 15:03:34                3   1496            1930
13039  2017-08-19 15:03:34                6   1829            3113
13040  2017-08-19 15:29:33                9    954            1332
13041  2017-08-19 15:29:33                0   1286            2813
13042  2017-08-19 15:29:33                7   1562            2019
13043  2017-08-19 15:29:33                3   1441            1930
13044  2017-08-19 15:29:33                4   2980            3893
13045  2017-08-19 15:29:33                5    283             587
13046  2017-08-19 15:29:33                8   1315            2947
13047  2017-08-19 15:29:33                6   1790            3113
13048  2017-08-19 15:29:33                1    411             397
13049  2017-08-19 15:29:33                2    617             697
13050  2017-08-19 16:03:35                4   2779            3893
13051  2017-08-19 16:03:35                6   1727            3113
13052  2017-08-19 16:03:35                5    239             587
13053  2017-08-19 16:03:35                1    401             397
13054  2017-08-19 16:03:35                9    879            1332
13055  2017-08-19 16:03:35                7   1450            2019
13056  2017-08-19 16:03:35                2    580             697
13057  2017-08-19 16:03:35                3   1330            1930
13058  2017-08-19 16:03:35                8   1253            2947
13059  2017-08-19 16:03:35                0   1276            2813
13060  2017-08-19 16:30:35                4   2542            3893
13061  2017-08-19 16:30:35                1    396             397
13062  2017-08-19 16:30:35                0   1271            2813
13063  2017-08-19 16:30:35                9    815            1332
13064  2017-08-19 16:30:35                5    202             587
13065  2017-08-19 16:30:35                2    548             697
13066  2017-08-19 16:30:35                8   1193            2947
13067  2017-08-19 16:30:35                7   1354            2019
13068  2017-08-19 16:30:35                6   1680            3113
13069  2017-08-19 16:30:35                3   1189            1930
##################### NA #####################
timestamp          0
municipality_id    0
usage              0
total_capacity     0
dtype: int64
##################### Quantiles #####################
                  0.000   0.050    0.500    0.950    0.990    1.000
municipality_id   0.000   0.000    4.500    9.000    9.000    9.000
usage            11.000 141.000  692.000 2558.550 3318.310 3508.000
total_capacity  397.000 397.000 1974.500 3893.000 3893.000 3893.000
##################### Corr #####################
                 municipality_id  usage  total_capacity
municipality_id            1.000  0.184           0.173
usage                      0.184  1.000           0.683
total_capacity             0.173  0.683           1.000
##################### Describe #####################
       municipality_id     usage  total_capacity
count        13070.000 13070.000       13070.000
mean             4.500   876.003        1972.800
std              2.872   679.287        1144.075
min              0.000    11.000         397.000
25%              2.000   403.000         697.000
50%              4.500   692.000        1974.500
75%              7.000  1190.000        2947.000
max              9.000  3508.000        3893.000

### Split dataset by municipality numbers

In [60]:
def sprit_municipality(data,municipality_column_name):
    ''' 
    Allows the given dataset to be sorted by municipality numbers.
    
    Parameters
    ----------
    data: dataframe
    municipality_column_name: str

    Returns
    -------
    df: dataframe
    '''
    df = pd.DataFrame()

    for idx in range(MUNICIPALITY_COUNT):
        each_municipality = data.groupby([municipality_column_name]).get_group(idx)
        df = pd.concat([df,each_municipality], ignore_index=True)
    
    return df

In [61]:
def selecet_max_usage_in_an_hour(data,time_column_name,municipality_column_name,first_character_count=13):
    '''
    It serves to select the one with the maximum value from the measurements within the 1-hour period in the data set.

    Parameters
    ----------
    data: dataframe
    time_column_name: str
    municipality_column_name: str
    first_character_count: int

    Notes
    -----
    first_character_count is set to 13 depending on the time display structure. Because our goal is to determine the measurements within 1 hour.

    Returns
    -------
    data: dataframe
    '''
    data[time_column_name] = data.timestamp.apply(lambda x: x[:first_character_count])
    data = data.groupby([time_column_name,municipality_column_name]).agg({'usage':'max','total_capacity':'max'}).reset_index()
    data.timestamp = pd.to_datetime(data.timestamp)
    data = sprit_municipality(data,municipality_column_name)

    return data

In [62]:
data = selecet_max_usage_in_an_hour(data,TIME_COLUMN_NAME,MUNICIPALITY_COLUMN_NAME)

In [63]:
check_df(data)

##################### Shape #####################
(6740, 4)
##################### Types #####################
timestamp          datetime64[ns]
municipality_id             int64
usage                       int64
total_capacity              int64
dtype: object
##################### Head #####################
             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:00:00                0    204            2813
1  2017-06-04 08:00:00                0    332            2813
2  2017-06-04 09:00:00                0    485            2813
3  2017-06-04 10:00:00                0    583            2813
4  2017-06-04 11:00:00                0    614            2813
5  2017-06-04 12:00:00                0    613            2813
6  2017-06-04 13:00:00                0    605            2813
7  2017-06-04 14:00:00                0    585            2813
8  2017-06-04 15:00:00                0    520            2813
9  2017-06-04 16:00:00                0    470            2813
10 2017-06-05 07:00:00                0    255            2813
11 2017-06-05 08:00:00                0    335            2813
12 2017-06-05 09:00:00                0    487            2813
13 2017-06-05 10:00:00                0    595            2813
14 2017-06-05 11:00:00                0    612            2813
15 2017-06-05 12:00:00                0    595            2813
16 2017-06-05 13:00:00                0    592            2813
17 2017-06-05 14:00:00                0    556            2813
18 2017-06-05 15:00:00                0    491            2813
19 2017-06-05 16:00:00                0    454            2813
20 2017-06-06 07:00:00                0    183            2813
21 2017-06-06 08:00:00                0    333            2813
22 2017-06-06 09:00:00                0    398            2813
23 2017-06-06 10:00:00                0    549            2813
24 2017-06-06 11:00:00                0    578            2813
25 2017-06-06 12:00:00                0    614            2813
26 2017-06-06 13:00:00                0    601            2813
27 2017-06-06 14:00:00                0    550            2813
28 2017-06-06 15:00:00                0    518            2813
29 2017-06-06 16:00:00                0    443            2813
30 2017-06-07 08:00:00                0    259            2813
31 2017-06-07 09:00:00                0    413            2813
32 2017-06-07 10:00:00                0    486            2813
33 2017-06-07 11:00:00                0    499            2813
34 2017-06-07 12:00:00                0    518            2813
35 2017-06-07 13:00:00                0    520            2813
36 2017-06-07 14:00:00                0    503            2813
37 2017-06-07 15:00:00                0    443            2813
38 2017-06-07 16:00:00                0    350            2813
39 2017-06-08 07:00:00                0     95            2813
40 2017-06-08 08:00:00                0    158            2813
41 2017-06-08 09:00:00                0    204            2813
42 2017-06-08 10:00:00                0    358            2813
43 2017-06-08 11:00:00                0    397            2813
44 2017-06-08 12:00:00                0    466            2813
45 2017-06-08 13:00:00                0    551            2813
46 2017-06-08 14:00:00                0    589            2813
47 2017-06-08 15:00:00                0    584            2813
48 2017-06-08 16:00:00                0    582            2813
49 2017-06-09 08:00:00                0    116            2813
50 2017-06-09 09:00:00                0    185            2813
51 2017-06-09 10:00:00                0    239            2813
52 2017-06-09 11:00:00                0    404            2813
53 2017-06-09 12:00:00                0    456            2813
54 2017-06-09 13:00:00                0    506            2813
55 2017-06-09 14:00:00                0    489            2813
56 2017-06-09 15:00:00                0    453            2813
57 2017-06-09 16:00:00                0    373            2813
58 2017-06-10 08:00:00                0    208            2813
59 2017-06-10 09:00:00                0    324            2813
60 2017-06-10 10:00:00                0    445            2813
61 2017-06-10 11:00:00                0    480            2813
62 2017-06-10 12:00:00                0    500            2813
63 2017-06-10 13:00:00                0    514            2813
64 2017-06-10 14:00:00                0    511            2813
65 2017-06-10 15:00:00                0    448            2813
66 2017-06-10 16:00:00                0    390            2813
67 2017-06-11 08:00:00                0    367            2813
68 2017-06-11 09:00:00                0    485            2813
69 2017-06-11 10:00:00                0    558            2813
70 2017-06-11 11:00:00                0    555            2813
71 2017-06-11 12:00:00                0    567            2813
72 2017-06-11 13:00:00                0    568            2813
73 2017-06-11 14:00:00                0    555            2813
74 2017-06-11 15:00:00                0    536            2813
75 2017-06-11 16:00:00                0    469            2813
76 2017-06-12 08:00:00                0    342            2813
77 2017-06-12 09:00:00                0    470            2813
78 2017-06-12 10:00:00                0    550            2813
79 2017-06-12 11:00:00                0    585            2813
80 2017-06-12 12:00:00                0    604            2813
81 2017-06-12 13:00:00                0    603            2813
82 2017-06-12 14:00:00                0    591            2813
83 2017-06-12 15:00:00                0    566            2813
84 2017-06-12 16:00:00                0    492            2813
85 2017-06-13 07:00:00                0    206            2813
86 2017-06-13 08:00:00                0    285            2813
87 2017-06-13 09:00:00                0    461            2813
88 2017-06-13 10:00:00                0    505            2813
89 2017-06-13 11:00:00                0    597            2813
90 2017-06-13 12:00:00                0    600            2813
91 2017-06-13 13:00:00                0    612            2813
92 2017-06-13 14:00:00                0    577            2813
93 2017-06-13 15:00:00                0    563            2813
94 2017-06-13 16:00:00                0    521            2813
95 2017-06-14 08:00:00                0    277            2813
96 2017-06-14 09:00:00                0    462            2813
97 2017-06-14 10:00:00                0    583            2813
98 2017-06-14 11:00:00                0    662            2813
99 2017-06-14 12:00:00                0    690            2813
##################### Tail #####################
               timestamp  municipality_id  usage  total_capacity
6640 2017-08-09 11:00:00                9    805            1332
6641 2017-08-09 12:00:00                9    831            1332
6642 2017-08-09 13:00:00                9    868            1332
6643 2017-08-09 14:00:00                9    847            1332
6644 2017-08-09 15:00:00                9    750            1332
6645 2017-08-09 16:00:00                9    713            1332
6646 2017-08-10 07:00:00                9    400            1332
6647 2017-08-10 08:00:00                9    419            1332
6648 2017-08-10 09:00:00                9    599            1332
6649 2017-08-10 10:00:00                9    656            1332
6650 2017-08-10 11:00:00                9    754            1332
6651 2017-08-10 12:00:00                9    875            1332
6652 2017-08-10 13:00:00                9    950            1332
6653 2017-08-10 14:00:00                9    976            1332
6654 2017-08-10 15:00:00                9    979            1332
6655 2017-08-10 16:00:00                9    944            1332
6656 2017-08-11 08:00:00                9    392            1332
6657 2017-08-11 09:00:00                9    474            1332
6658 2017-08-11 10:00:00                9    684            1332
6659 2017-08-11 11:00:00                9    869            1332
6660 2017-08-11 12:00:00                9    924            1332
6661 2017-08-11 13:00:00                9   1052            1332
6662 2017-08-11 14:00:00                9   1054            1332
6663 2017-08-11 15:00:00                9   1011            1332
6664 2017-08-11 16:00:00                9    896            1332
6665 2017-08-12 08:00:00                9    390            1332
6666 2017-08-12 09:00:00                9    485            1332
6667 2017-08-12 10:00:00                9    675            1332
6668 2017-08-12 11:00:00                9    829            1332
6669 2017-08-12 12:00:00                9    869            1332
6670 2017-08-12 13:00:00                9    868            1332
6671 2017-08-12 14:00:00                9    849            1332
6672 2017-08-12 15:00:00                9    798            1332
6673 2017-08-12 16:00:00                9    724            1332
6674 2017-08-13 08:00:00                9    450            1332
6675 2017-08-13 09:00:00                9    646            1332
6676 2017-08-13 10:00:00                9    715            1332
6677 2017-08-13 11:00:00                9    796            1332
6678 2017-08-13 12:00:00                9    860            1332
6679 2017-08-13 13:00:00                9    868            1332
6680 2017-08-13 14:00:00                9    820            1332
6681 2017-08-13 15:00:00                9    736            1332
6682 2017-08-13 16:00:00                9    701            1332
6683 2017-08-14 08:00:00                9    502            1332
6684 2017-08-14 09:00:00                9    590            1332
6685 2017-08-14 10:00:00                9    736            1332
6686 2017-08-14 11:00:00                9    772            1332
6687 2017-08-14 12:00:00                9    799            1332
6688 2017-08-14 13:00:00                9    821            1332
6689 2017-08-14 14:00:00                9    854            1332
6690 2017-08-14 15:00:00                9    790            1332
6691 2017-08-14 16:00:00                9    728            1332
6692 2017-08-15 07:00:00                9    397            1332
6693 2017-08-15 08:00:00                9    447            1332
6694 2017-08-15 09:00:00                9    618            1332
6695 2017-08-15 10:00:00                9    696            1332
6696 2017-08-15 11:00:00                9    805            1332
6697 2017-08-15 12:00:00                9    871            1332
6698 2017-08-15 13:00:00                9    917            1332
6699 2017-08-15 14:00:00                9    919            1332
6700 2017-08-15 15:00:00                9    883            1332
6701 2017-08-15 16:00:00                9    822            1332
6702 2017-08-16 07:00:00                9    472            1332
6703 2017-08-16 08:00:00                9    518            1332
6704 2017-08-16 09:00:00                9    612            1332
6705 2017-08-16 10:00:00                9    708            1332
6706 2017-08-16 11:00:00                9    785            1332
6707 2017-08-16 12:00:00                9    808            1332
6708 2017-08-16 13:00:00                9    826            1332
6709 2017-08-16 14:00:00                9    814            1332
6710 2017-08-16 15:00:00                9    796            1332
6711 2017-08-16 16:00:00                9    767            1332
6712 2017-08-17 07:00:00                9    387            1332
6713 2017-08-17 08:00:00                9    403            1332
6714 2017-08-17 09:00:00                9    608            1332
6715 2017-08-17 10:00:00                9    643            1332
6716 2017-08-17 11:00:00                9    685            1332
6717 2017-08-17 12:00:00                9    806            1332
6718 2017-08-17 13:00:00                9    911            1332
6719 2017-08-17 14:00:00                9   1005            1332
6720 2017-08-17 15:00:00                9   1017            1332
6721 2017-08-17 16:00:00                9    988            1332
6722 2017-08-18 08:00:00                9    360            1332
6723 2017-08-18 09:00:00                9    422            1332
6724 2017-08-18 10:00:00                9    499            1332
6725 2017-08-18 11:00:00                9    670            1332
6726 2017-08-18 12:00:00                9    824            1332
6727 2017-08-18 13:00:00                9    858            1332
6728 2017-08-18 14:00:00                9    905            1332
6729 2017-08-18 15:00:00                9    875            1332
6730 2017-08-18 16:00:00                9    834            1332
6731 2017-08-19 08:00:00                9    340            1332
6732 2017-08-19 09:00:00                9    539            1332
6733 2017-08-19 10:00:00                9    634            1332
6734 2017-08-19 11:00:00                9    755            1332
6735 2017-08-19 12:00:00                9    849            1332
6736 2017-08-19 13:00:00                9    941            1332
6737 2017-08-19 14:00:00                9    983            1332
6738 2017-08-19 15:00:00                9    976            1332
6739 2017-08-19 16:00:00                9    879            1332
##################### NA #####################
timestamp          0
municipality_id    0
usage              0
total_capacity     0
dtype: int64
##################### Quantiles #####################
                  0.000   0.050    0.500    0.950    0.990    1.000
municipality_id   0.000   0.000    4.500    9.000    9.000    9.000
usage            12.000 148.900  709.000 2621.500 3327.830 3508.000
total_capacity  397.000 397.000 1974.500 3893.000 3893.000 3893.000
##################### Corr #####################
                 municipality_id  usage  total_capacity
municipality_id            1.000  0.183           0.173
usage                      0.183  1.000           0.688
total_capacity             0.173  0.688           1.000
##################### Describe #####################
       municipality_id    usage  total_capacity
count         6740.000 6740.000        6740.000
mean             4.500  893.322        1972.800
std              2.872  687.228        1144.116
min              0.000   12.000         397.000
25%              2.000  408.750         697.000
50%              4.500  709.000        1974.500
75%              7.000 1206.250        2947.000
max              9.000 3508.000        3893.000

### Missing Data Detect

In [64]:
temp = data[[TIME_COLUMN_NAME, MUNICIPALITY_COLUMN_NAME]].set_index(TIME_COLUMN_NAME) # All hours and municipality id
rec_hours = temp[temp[MUNICIPALITY_COLUMN_NAME] == 0].loc[FIRST_DATE].index.hour # Working hours. (Between 7 am and 4 pm )

In [73]:
rec_hours

Int64Index([7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64', name='timestamp')

In [65]:
def find_missing_dates(data,time_column_name):
    '''
    It allows to detect missing days in the data.

    Parameters
    ----------
    data: dataframe
    time_column_name: str

    Returns
    -------
    missing_dates: list
        List of missing date
    
    '''
    tempdf = data.copy()
    tempdf = tempdf[time_column_name].apply(lambda date: datetime.datetime.strptime(str(date)[:str(date).find(' ')], "%Y-%m-%d"))
    missing_dates = pd.date_range(start=FIRST_DATE, end=LAST_DATE).difference(tempdf.values)
    return missing_dates

In [66]:
def find_missing_hours(data,time_column_name,municipality_column_name):
    '''
    It allows to detect missing hours in the data.

    Parameters
    ----------
    data: dataframe
    time_column_name: str
    municipality_column_name: str

    Returns
    -------
    missing: dict
        dict of missing hours.
    '''
    temp = data[[time_column_name, municipality_column_name]].set_index(time_column_name)
    rec_hours = temp[temp[municipality_column_name] == 0].loc[FIRST_DATE].index.hour

    data = data[[time_column_name, municipality_column_name]].set_index(time_column_name).copy()
    
    missing = {}
    for day in pd.date_range(FIRST_DATE, LAST_DATE):
        hrs = temp[temp[municipality_column_name] == 0].loc[str(day.date())].index.hour.to_list()
        missing_hours = set(rec_hours.to_list()).difference(hrs)
        if (missing_hours != set()):
            missing[str(day.date())] = missing_hours

    return missing

* There are 5 missing days and 47 missing hours.

In [67]:
missing_hours = find_missing_hours(data,TIME_COLUMN_NAME,MUNICIPALITY_COLUMN_NAME)
missing_date = find_missing_dates(data,TIME_COLUMN_NAME)
missing_hours

{'2017-06-07': {7},
 '2017-06-09': {7},
 '2017-06-10': {7},
 '2017-06-11': {7},
 '2017-06-12': {7},
 '2017-06-14': {7},
 '2017-06-15': {7},
 '2017-06-16': {7},
 '2017-06-17': {7},
 '2017-06-18': {7},
 '2017-06-19': {7},
 '2017-06-20': {7, 8, 9, 10, 11, 12, 13, 14, 15, 16},
 '2017-06-21': {7, 8, 9, 10, 11, 12, 13, 14, 15, 16},
 '2017-06-25': {7},
 '2017-06-28': {7},
 '2017-07-01': {7},
 '2017-07-03': {7},
 '2017-07-04': {7},
 '2017-07-05': {7},
 '2017-07-06': {7},
 '2017-07-07': {7},
 '2017-07-09': {7},
 '2017-07-10': {7},
 '2017-07-11': {7},
 '2017-07-12': {7},
 '2017-07-13': {7},
 '2017-07-14': {7},
 '2017-07-16': {7},
 '2017-07-17': {7},
 '2017-07-18': {7},
 '2017-07-20': {7},
 '2017-07-21': {7},
 '2017-07-23': {7},
 '2017-07-24': {7},
 '2017-07-25': {7},
 '2017-07-26': {7},
 '2017-07-27': {7},
 '2017-07-28': {7},
 '2017-07-30': {7},
 '2017-07-31': {7, 8, 9, 10, 11, 12, 13, 14, 15, 16},
 '2017-08-01': {7},
 '2017-08-03': {7, 8, 9, 10, 11, 12, 13, 14, 15, 16},
 '2017-08-04': {7, 8, 9, 10, 11, 12, 13, 14, 15, 16},
 '2017-08-05': {7},
 '2017-08-09': {7},
 '2017-08-11': {7},
 '2017-08-12': {7},
 '2017-08-13': {7},
 '2017-08-14': {7},
 '2017-08-18': {7},
 '2017-08-19': {7}}

### Filling Missing Data

In [68]:
def create_missing_dataframe(missing_hours,time_column_name,municipality_column_name,usage_column_name):    
    missing_dates = []
    for day in pd.date_range(FIRST_DATE, LAST_DATE):
        if (str(day.date()) in missing_hours):
            new_date = [day.replace(hour=hour) for hour in missing_hours[str(day.date())]]
            missing_dates.extend(new_date)

    missing_muni = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] * len(missing_dates)
    missing_dates = sorted(missing_dates*10)
    missing_usage = [np.nan] * len(missing_muni) 
    missing_df = pd.DataFrame(data={time_column_name: missing_dates, 
                                    municipality_column_name: missing_muni, 
                                    usage_column_name: missing_usage})
    
    return missing_df

In [69]:
missing_df = create_missing_dataframe(missing_hours,TIME_COLUMN_NAME,MUNICIPALITY_COLUMN_NAME,USAGE_COLUMN_NAME)
missing_df

              timestamp  municipality_id  usage
0   2017-06-07 07:00:00                0    NaN
1   2017-06-07 07:00:00                1    NaN
2   2017-06-07 07:00:00                2    NaN
3   2017-06-07 07:00:00                3    NaN
4   2017-06-07 07:00:00                4    NaN
5   2017-06-07 07:00:00                5    NaN
6   2017-06-07 07:00:00                6    NaN
7   2017-06-07 07:00:00                7    NaN
8   2017-06-07 07:00:00                8    NaN
9   2017-06-07 07:00:00                9    NaN
10  2017-06-09 07:00:00                0    NaN
11  2017-06-09 07:00:00                1    NaN
12  2017-06-09 07:00:00                2    NaN
13  2017-06-09 07:00:00                3    NaN
14  2017-06-09 07:00:00                4    NaN
15  2017-06-09 07:00:00                5    NaN
16  2017-06-09 07:00:00                6    NaN
17  2017-06-09 07:00:00                7    NaN
18  2017-06-09 07:00:00                8    NaN
19  2017-06-09 07:00:00                9    NaN
20  2017-06-10 07:00:00                0    NaN
21  2017-06-10 07:00:00                1    NaN
22  2017-06-10 07:00:00                2    NaN
23  2017-06-10 07:00:00                3    NaN
24  2017-06-10 07:00:00                4    NaN
25  2017-06-10 07:00:00                5    NaN
26  2017-06-10 07:00:00                6    NaN
27  2017-06-10 07:00:00                7    NaN
28  2017-06-10 07:00:00                8    NaN
29  2017-06-10 07:00:00                9    NaN
30  2017-06-11 07:00:00                0    NaN
31  2017-06-11 07:00:00                1    NaN
32  2017-06-11 07:00:00                2    NaN
33  2017-06-11 07:00:00                3    NaN
34  2017-06-11 07:00:00                4    NaN
35  2017-06-11 07:00:00                5    NaN
36  2017-06-11 07:00:00                6    NaN
37  2017-06-11 07:00:00                7    NaN
38  2017-06-11 07:00:00                8    NaN
39  2017-06-11 07:00:00                9    NaN
40  2017-06-12 07:00:00                0    NaN
41  2017-06-12 07:00:00                1    NaN
42  2017-06-12 07:00:00                2    NaN
43  2017-06-12 07:00:00                3    NaN
44  2017-06-12 07:00:00                4    NaN
45  2017-06-12 07:00:00                5    NaN
46  2017-06-12 07:00:00                6    NaN
47  2017-06-12 07:00:00                7    NaN
48  2017-06-12 07:00:00                8    NaN
49  2017-06-12 07:00:00                9    NaN
50  2017-06-14 07:00:00                0    NaN
51  2017-06-14 07:00:00                1    NaN
52  2017-06-14 07:00:00                2    NaN
53  2017-06-14 07:00:00                3    NaN
54  2017-06-14 07:00:00                4    NaN
55  2017-06-14 07:00:00                5    NaN
56  2017-06-14 07:00:00                6    NaN
57  2017-06-14 07:00:00                7    NaN
58  2017-06-14 07:00:00                8    NaN
59  2017-06-14 07:00:00                9    NaN
60  2017-06-15 07:00:00                0    NaN
61  2017-06-15 07:00:00                1    NaN
62  2017-06-15 07:00:00                2    NaN
63  2017-06-15 07:00:00                3    NaN
64  2017-06-15 07:00:00                4    NaN
65  2017-06-15 07:00:00                5    NaN
66  2017-06-15 07:00:00                6    NaN
67  2017-06-15 07:00:00                7    NaN
68  2017-06-15 07:00:00                8    NaN
69  2017-06-15 07:00:00                9    NaN
70  2017-06-16 07:00:00                0    NaN
71  2017-06-16 07:00:00                1    NaN
72  2017-06-16 07:00:00                2    NaN
73  2017-06-16 07:00:00                3    NaN
74  2017-06-16 07:00:00                4    NaN
75  2017-06-16 07:00:00                5    NaN
76  2017-06-16 07:00:00                6    NaN
77  2017-06-16 07:00:00                7    NaN
78  2017-06-16 07:00:00                8    NaN
79  2017-06-16 07:00:00                9    NaN
80  2017-06-17 07:00:00                0    NaN
81  2017-06-17 07:00:00                1    NaN
82  2017-06-17 07:00:00                2    NaN
83  2017-06-17 07:00:00                3    NaN
84  2017-06-17 07:00:00                4    NaN
85  2017-06-17 07:00:00                5    NaN
86  2017-06-17 07:00:00                6    NaN
87  2017-06-17 07:00:00                7    NaN
88  2017-06-17 07:00:00                8    NaN
89  2017-06-17 07:00:00                9    NaN
90  2017-06-18 07:00:00                0    NaN
91  2017-06-18 07:00:00                1    NaN
92  2017-06-18 07:00:00                2    NaN
93  2017-06-18 07:00:00                3    NaN
94  2017-06-18 07:00:00                4    NaN
95  2017-06-18 07:00:00                5    NaN
96  2017-06-18 07:00:00                6    NaN
97  2017-06-18 07:00:00                7    NaN
98  2017-06-18 07:00:00                8    NaN
99  2017-06-18 07:00:00                9    NaN
100 2017-06-19 07:00:00                0    NaN
101 2017-06-19 07:00:00                1    NaN
102 2017-06-19 07:00:00                2    NaN
103 2017-06-19 07:00:00                3    NaN
104 2017-06-19 07:00:00                4    NaN
105 2017-06-19 07:00:00                5    NaN
106 2017-06-19 07:00:00                6    NaN
107 2017-06-19 07:00:00                7    NaN
108 2017-06-19 07:00:00                8    NaN
109 2017-06-19 07:00:00                9    NaN
110 2017-06-20 07:00:00                0    NaN
111 2017-06-20 07:00:00                1    NaN
112 2017-06-20 07:00:00                2    NaN
113 2017-06-20 07:00:00                3    NaN
114 2017-06-20 07:00:00                4    NaN
115 2017-06-20 07:00:00                5    NaN
116 2017-06-20 07:00:00                6    NaN
117 2017-06-20 07:00:00                7    NaN
118 2017-06-20 07:00:00                8    NaN
119 2017-06-20 07:00:00                9    NaN
120 2017-06-20 08:00:00                0    NaN
121 2017-06-20 08:00:00                1    NaN
122 2017-06-20 08:00:00                2    NaN
123 2017-06-20 08:00:00                3    NaN
124 2017-06-20 08:00:00                4    NaN
125 2017-06-20 08:00:00                5    NaN
126 2017-06-20 08:00:00                6    NaN
127 2017-06-20 08:00:00                7    NaN
128 2017-06-20 08:00:00                8    NaN
129 2017-06-20 08:00:00                9    NaN
130 2017-06-20 09:00:00                0    NaN
131 2017-06-20 09:00:00                1    NaN
132 2017-06-20 09:00:00                2    NaN
133 2017-06-20 09:00:00                3    NaN
134 2017-06-20 09:00:00                4    NaN
135 2017-06-20 09:00:00                5    NaN
136 2017-06-20 09:00:00                6    NaN
137 2017-06-20 09:00:00                7    NaN
138 2017-06-20 09:00:00                8    NaN
139 2017-06-20 09:00:00                9    NaN
140 2017-06-20 10:00:00                0    NaN
141 2017-06-20 10:00:00                1    NaN
142 2017-06-20 10:00:00                2    NaN
143 2017-06-20 10:00:00                3    NaN
144 2017-06-20 10:00:00                4    NaN
145 2017-06-20 10:00:00                5    NaN
146 2017-06-20 10:00:00                6    NaN
147 2017-06-20 10:00:00                7    NaN
148 2017-06-20 10:00:00                8    NaN
149 2017-06-20 10:00:00                9    NaN
150 2017-06-20 11:00:00                0    NaN
151 2017-06-20 11:00:00                1    NaN
152 2017-06-20 11:00:00                2    NaN
153 2017-06-20 11:00:00                3    NaN
154 2017-06-20 11:00:00                4    NaN
155 2017-06-20 11:00:00                5    NaN
156 2017-06-20 11:00:00                6    NaN
157 2017-06-20 11:00:00                7    NaN
158 2017-06-20 11:00:00                8    NaN
159 2017-06-20 11:00:00                9    NaN
160 2017-06-20 12:00:00                0    NaN
161 2017-06-20 12:00:00                1    NaN
162 2017-06-20 12:00:00                2    NaN
163 2017-06-20 12:00:00                3    NaN
164 2017-06-20 12:00:00                4    NaN
165 2017-06-20 12:00:00                5    NaN
166 2017-06-20 12:00:00                6    NaN
167 2017-06-20 12:00:00                7    NaN
168 2017-06-20 12:00:00                8    NaN
169 2017-06-20 12:00:00                9    NaN
170 2017-06-20 13:00:00                0    NaN
171 2017-06-20 13:00:00                1    NaN
172 2017-06-20 13:00:00                2    NaN
173 2017-06-20 13:00:00                3    NaN
174 2017-06-20 13:00:00                4    NaN
175 2017-06-20 13:00:00                5    NaN
176 2017-06-20 13:00:00                6    NaN
177 2017-06-20 13:00:00                7    NaN
178 2017-06-20 13:00:00                8    NaN
179 2017-06-20 13:00:00                9    NaN
180 2017-06-20 14:00:00                0    NaN
181 2017-06-20 14:00:00                1    NaN
182 2017-06-20 14:00:00                2    NaN
183 2017-06-20 14:00:00                3    NaN
184 2017-06-20 14:00:00                4    NaN
185 2017-06-20 14:00:00                5    NaN
186 2017-06-20 14:00:00                6    NaN
187 2017-06-20 14:00:00                7    NaN
188 2017-06-20 14:00:00                8    NaN
189 2017-06-20 14:00:00                9    NaN
190 2017-06-20 15:00:00                0    NaN
191 2017-06-20 15:00:00                1    NaN
192 2017-06-20 15:00:00                2    NaN
193 2017-06-20 15:00:00                3    NaN
194 2017-06-20 15:00:00                4    NaN
195 2017-06-20 15:00:00                5    NaN
196 2017-06-20 15:00:00                6    NaN
197 2017-06-20 15:00:00                7    NaN
198 2017-06-20 15:00:00                8    NaN
199 2017-06-20 15:00:00                9    NaN
200 2017-06-20 16:00:00                0    NaN
201 2017-06-20 16:00:00                1    NaN
202 2017-06-20 16:00:00                2    NaN
203 2017-06-20 16:00:00                3    NaN
204 2017-06-20 16:00:00                4    NaN
205 2017-06-20 16:00:00                5    NaN
206 2017-06-20 16:00:00                6    NaN
207 2017-06-20 16:00:00                7    NaN
208 2017-06-20 16:00:00                8    NaN
209 2017-06-20 16:00:00                9    NaN
210 2017-06-21 07:00:00                0    NaN
211 2017-06-21 07:00:00                1    NaN
212 2017-06-21 07:00:00                2    NaN
213 2017-06-21 07:00:00                3    NaN
214 2017-06-21 07:00:00                4    NaN
215 2017-06-21 07:00:00                5    NaN
216 2017-06-21 07:00:00                6    NaN
217 2017-06-21 07:00:00                7    NaN
218 2017-06-21 07:00:00                8    NaN
219 2017-06-21 07:00:00                9    NaN
220 2017-06-21 08:00:00                0    NaN
221 2017-06-21 08:00:00                1    NaN
222 2017-06-21 08:00:00                2    NaN
223 2017-06-21 08:00:00                3    NaN
224 2017-06-21 08:00:00                4    NaN
225 2017-06-21 08:00:00                5    NaN
226 2017-06-21 08:00:00                6    NaN
227 2017-06-21 08:00:00                7    NaN
228 2017-06-21 08:00:00                8    NaN
229 2017-06-21 08:00:00                9    NaN
230 2017-06-21 09:00:00                0    NaN
231 2017-06-21 09:00:00                1    NaN
232 2017-06-21 09:00:00                2    NaN
233 2017-06-21 09:00:00                3    NaN
234 2017-06-21 09:00:00                4    NaN
235 2017-06-21 09:00:00                5    NaN
236 2017-06-21 09:00:00                6    NaN
237 2017-06-21 09:00:00                7    NaN
238 2017-06-21 09:00:00                8    NaN
239 2017-06-21 09:00:00                9    NaN
240 2017-06-21 10:00:00                0    NaN
241 2017-06-21 10:00:00                1    NaN
242 2017-06-21 10:00:00                2    NaN
243 2017-06-21 10:00:00                3    NaN
244 2017-06-21 10:00:00                4    NaN
245 2017-06-21 10:00:00                5    NaN
246 2017-06-21 10:00:00                6    NaN
247 2017-06-21 10:00:00                7    NaN
248 2017-06-21 10:00:00                8    NaN
249 2017-06-21 10:00:00                9    NaN
250 2017-06-21 11:00:00                0    NaN
251 2017-06-21 11:00:00                1    NaN
252 2017-06-21 11:00:00                2    NaN
253 2017-06-21 11:00:00                3    NaN
254 2017-06-21 11:00:00                4    NaN
255 2017-06-21 11:00:00                5    NaN
256 2017-06-21 11:00:00                6    NaN
257 2017-06-21 11:00:00                7    NaN
258 2017-06-21 11:00:00                8    NaN
259 2017-06-21 11:00:00                9    NaN
260 2017-06-21 12:00:00                0    NaN
261 2017-06-21 12:00:00                1    NaN
262 2017-06-21 12:00:00                2    NaN
263 2017-06-21 12:00:00                3    NaN
264 2017-06-21 12:00:00                4    NaN
265 2017-06-21 12:00:00                5    NaN
266 2017-06-21 12:00:00                6    NaN
267 2017-06-21 12:00:00                7    NaN
268 2017-06-21 12:00:00                8    NaN
269 2017-06-21 12:00:00                9    NaN
270 2017-06-21 13:00:00                0    NaN
271 2017-06-21 13:00:00                1    NaN
272 2017-06-21 13:00:00                2    NaN
273 2017-06-21 13:00:00                3    NaN
274 2017-06-21 13:00:00                4    NaN
275 2017-06-21 13:00:00                5    NaN
276 2017-06-21 13:00:00                6    NaN
277 2017-06-21 13:00:00                7    NaN
278 2017-06-21 13:00:00                8    NaN
279 2017-06-21 13:00:00                9    NaN
280 2017-06-21 14:00:00                0    NaN
281 2017-06-21 14:00:00                1    NaN
282 2017-06-21 14:00:00                2    NaN
283 2017-06-21 14:00:00                3    NaN
284 2017-06-21 14:00:00                4    NaN
285 2017-06-21 14:00:00                5    NaN
286 2017-06-21 14:00:00                6    NaN
287 2017-06-21 14:00:00                7    NaN
288 2017-06-21 14:00:00                8    NaN
289 2017-06-21 14:00:00                9    NaN
290 2017-06-21 15:00:00                0    NaN
291 2017-06-21 15:00:00                1    NaN
292 2017-06-21 15:00:00                2    NaN
293 2017-06-21 15:00:00                3    NaN
294 2017-06-21 15:00:00                4    NaN
295 2017-06-21 15:00:00                5    NaN
296 2017-06-21 15:00:00                6    NaN
297 2017-06-21 15:00:00                7    NaN
298 2017-06-21 15:00:00                8    NaN
299 2017-06-21 15:00:00                9    NaN
300 2017-06-21 16:00:00                0    NaN
301 2017-06-21 16:00:00                1    NaN
302 2017-06-21 16:00:00                2    NaN
303 2017-06-21 16:00:00                3    NaN
304 2017-06-21 16:00:00                4    NaN
305 2017-06-21 16:00:00                5    NaN
306 2017-06-21 16:00:00                6    NaN
307 2017-06-21 16:00:00                7    NaN
308 2017-06-21 16:00:00                8    NaN
309 2017-06-21 16:00:00                9    NaN
310 2017-06-25 07:00:00                0    NaN
311 2017-06-25 07:00:00                1    NaN
312 2017-06-25 07:00:00                2    NaN
313 2017-06-25 07:00:00                3    NaN
314 2017-06-25 07:00:00                4    NaN
315 2017-06-25 07:00:00                5    NaN
316 2017-06-25 07:00:00                6    NaN
317 2017-06-25 07:00:00                7    NaN
318 2017-06-25 07:00:00                8    NaN
319 2017-06-25 07:00:00                9    NaN
320 2017-06-28 07:00:00                0    NaN
321 2017-06-28 07:00:00                1    NaN
322 2017-06-28 07:00:00                2    NaN
323 2017-06-28 07:00:00                3    NaN
324 2017-06-28 07:00:00                4    NaN
325 2017-06-28 07:00:00                5    NaN
326 2017-06-28 07:00:00                6    NaN
327 2017-06-28 07:00:00                7    NaN
328 2017-06-28 07:00:00                8    NaN
329 2017-06-28 07:00:00                9    NaN
330 2017-07-01 07:00:00                0    NaN
331 2017-07-01 07:00:00                1    NaN
332 2017-07-01 07:00:00                2    NaN
333 2017-07-01 07:00:00                3    NaN
334 2017-07-01 07:00:00                4    NaN
335 2017-07-01 07:00:00                5    NaN
336 2017-07-01 07:00:00                6    NaN
337 2017-07-01 07:00:00                7    NaN
338 2017-07-01 07:00:00                8    NaN
339 2017-07-01 07:00:00                9    NaN
340 2017-07-03 07:00:00                0    NaN
341 2017-07-03 07:00:00                1    NaN
342 2017-07-03 07:00:00                2    NaN
343 2017-07-03 07:00:00                3    NaN
344 2017-07-03 07:00:00                4    NaN
345 2017-07-03 07:00:00                5    NaN
346 2017-07-03 07:00:00                6    NaN
347 2017-07-03 07:00:00                7    NaN
348 2017-07-03 07:00:00                8    NaN
349 2017-07-03 07:00:00                9    NaN
350 2017-07-04 07:00:00                0    NaN
351 2017-07-04 07:00:00                1    NaN
352 2017-07-04 07:00:00                2    NaN
353 2017-07-04 07:00:00                3    NaN
354 2017-07-04 07:00:00                4    NaN
355 2017-07-04 07:00:00                5    NaN
356 2017-07-04 07:00:00                6    NaN
357 2017-07-04 07:00:00                7    NaN
358 2017-07-04 07:00:00                8    NaN
359 2017-07-04 07:00:00                9    NaN
360 2017-07-05 07:00:00                0    NaN
361 2017-07-05 07:00:00                1    NaN
362 2017-07-05 07:00:00                2    NaN
363 2017-07-05 07:00:00                3    NaN
364 2017-07-05 07:00:00                4    NaN
365 2017-07-05 07:00:00                5    NaN
366 2017-07-05 07:00:00                6    NaN
367 2017-07-05 07:00:00                7    NaN
368 2017-07-05 07:00:00                8    NaN
369 2017-07-05 07:00:00                9    NaN
370 2017-07-06 07:00:00                0    NaN
371 2017-07-06 07:00:00                1    NaN
372 2017-07-06 07:00:00                2    NaN
373 2017-07-06 07:00:00                3    NaN
374 2017-07-06 07:00:00                4    NaN
375 2017-07-06 07:00:00                5    NaN
376 2017-07-06 07:00:00                6    NaN
377 2017-07-06 07:00:00                7    NaN
378 2017-07-06 07:00:00                8    NaN
379 2017-07-06 07:00:00                9    NaN
380 2017-07-07 07:00:00                0    NaN
381 2017-07-07 07:00:00                1    NaN
382 2017-07-07 07:00:00                2    NaN
383 2017-07-07 07:00:00                3    NaN
384 2017-07-07 07:00:00                4    NaN
385 2017-07-07 07:00:00                5    NaN
386 2017-07-07 07:00:00                6    NaN
387 2017-07-07 07:00:00                7    NaN
388 2017-07-07 07:00:00                8    NaN
389 2017-07-07 07:00:00                9    NaN
390 2017-07-09 07:00:00                0    NaN
391 2017-07-09 07:00:00                1    NaN
392 2017-07-09 07:00:00                2    NaN
393 2017-07-09 07:00:00                3    NaN
394 2017-07-09 07:00:00                4    NaN
395 2017-07-09 07:00:00                5    NaN
396 2017-07-09 07:00:00                6    NaN
397 2017-07-09 07:00:00                7    NaN
398 2017-07-09 07:00:00                8    NaN
399 2017-07-09 07:00:00                9    NaN
400 2017-07-10 07:00:00                0    NaN
401 2017-07-10 07:00:00                1    NaN
402 2017-07-10 07:00:00                2    NaN
403 2017-07-10 07:00:00                3    NaN
404 2017-07-10 07:00:00                4    NaN
405 2017-07-10 07:00:00                5    NaN
406 2017-07-10 07:00:00                6    NaN
407 2017-07-10 07:00:00                7    NaN
408 2017-07-10 07:00:00                8    NaN
409 2017-07-10 07:00:00                9    NaN
410 2017-07-11 07:00:00                0    NaN
411 2017-07-11 07:00:00                1    NaN
412 2017-07-11 07:00:00                2    NaN
413 2017-07-11 07:00:00                3    NaN
414 2017-07-11 07:00:00                4    NaN

In [70]:
def mean_each_hour(data,time_column_name,municipality_column_name,usage_column_name):
    
    temp = data[[time_column_name, municipality_column_name]].set_index(time_column_name)
    rec_hours = temp[temp[municipality_column_name] == 0].loc[FIRST_DATE].index.hour

    means = {}
    for muni in data[municipality_column_name].unique():
        temp = data[data[municipality_column_name] == muni].set_index(time_column_name)
        for hr in rec_hours:
            means[f'{muni}_{hr}'] = np.mean(temp[temp.index.hour == hr][usage_column_name])
    
    return means

In [71]:
means = mean_each_hour(data,TIME_COLUMN_NAME,MUNICIPALITY_COLUMN_NAME,USAGE_COLUMN_NAME)
means

{'0_7': 229.92307692307693,
 '0_8': 310.6666666666667,
 '0_9': 440.52777777777777,
 '0_10': 548.6111111111111,
 '0_11': 620.2222222222222,
 '0_12': 660.4305555555555,
 '0_13': 682.4305555555555,
 '0_14': 686.1111111111111,
 '0_15': 654.5,
 '0_16': 588.5416666666666,
 '1_7': 134.15384615384616,
 '1_8': 161.84722222222223,
 '1_9': 231.05555555555554,
 '1_10': 296.5,
 '1_11': 340.0416666666667,
 '1_12': 359.0833333333333,
 '1_13': 368.25,
 '1_14': 366.40277777777777,
 '1_15': 352.90277777777777,
 '1_16': 323.77777777777777,
 '2_7': 310.3076923076923,
 '2_8': 340.3611111111111,
 '2_9': 416.18055555555554,
 '2_10': 479.90277777777777,
 '2_11': 521.6388888888889,
 '2_12': 555.3333333333334,
 '2_13': 579.1805555555555,
 '2_14': 581.9583333333334,
 '2_15': 554.1111111111111,
 '2_16': 500.4166666666667,
 '3_7': 505.7692307692308,
 '3_8': 689.0,
 '3_9': 966.4583333333334,
 '3_10': 1133.5833333333333,
 '3_11': 1217.8055555555557,
 '3_12': 1273.736111111111,
 '3_13': 1294.4722222222222,
 '3_14': 1288.388888888889,
 '3_15': 1215.0972222222222,
 '3_16': 1049.9722222222222,
 '4_7': 1029.923076923077,
 '4_8': 1489.0416666666667,
 '4_9': 2134.5416666666665,
 '4_10': 2486.7916666666665,
 '4_11': 2636.8611111111113,
 '4_12': 2718.3888888888887,
 '4_13': 2744.7638888888887,
 '4_14': 2713.8194444444443,
 '4_15': 2551.0555555555557,
 '4_16': 2213.2083333333335,
 '5_7': 45.0,
 '5_8': 51.44444444444444,
 '5_9': 90.25,
 '5_10': 149.90277777777777,
 '5_11': 200.59722222222223,
 '5_12': 231.26388888888889,
 '5_13': 250.70833333333334,
 '5_14': 249.97222222222223,
 '5_15': 225.98611111111111,
 '5_16': 190.93055555555554,
 '6_7': 636.8461538461538,
 '6_8': 724.9861111111111,
 '6_9': 889.3194444444445,
 '6_10': 1016.5555555555555,
 '6_11': 1097.4305555555557,
 '6_12': 1161.6666666666667,
 '6_13': 1205.1527777777778,
 '6_14': 1217.2916666666667,
 '6_15': 1161.361111111111,
 '6_16': 1052.3055555555557,
 '7_7': 690.2307692307693,
 '7_8': 754.8333333333334,
 '7_9': 941.8611111111111,
 '7_10': 1116.263888888889,
 '7_11': 1238.75,
 '7_12': 1328.638888888889,
 '7_13': 1387.5694444444443,
 '7_14': 1394.2222222222222,
 '7_15': 1330.5416666666667,
 '7_16': 1202.1944444444443,
 '8_7': 517.4230769230769,
 '8_8': 664.7222222222222,
 '8_9': 896.3472222222222,
 '8_10': 1046.9722222222222,
 '8_11': 1130.625,
 '8_12': 1175.625,
 '8_13': 1202.875,
 '8_14': 1203.0972222222222,
 '8_15': 1162.7222222222222,
 '8_16': 1065.7916666666667,
 '9_7': 388.9230769230769,
 '9_8': 423.68055555555554,
 '9_9': 535.4027777777778,
 '9_10': 646.4722222222222,
 '9_11': 726.8888888888889,
 '9_12': 783.2083333333334,
 '9_13': 819.1527777777778,
 '9_14': 822.7777777777778,
 '9_15': 786.875,
 '9_16': 710.7777777777778}

In [74]:
def fill_all_missing_values(data,missing_df,means,time_column_name,municipality_column_name):

    missing_df = missing_df.set_index(time_column_name)
    for muni in data[municipality_column_name].unique():
        for hr in rec_hours:
            missing_df[(missing_df[municipality_column_name] == muni) & (missing_df.index.hour == hr)] = missing_df[(missing_df[municipality_column_name] == muni) & (missing_df.index.hour == hr)].fillna(means[f'{muni}_{hr}'])

    final_df = pd.concat((data.set_index(time_column_name), missing_df))
    final_df = final_df.sort_index()

    return final_df

In [75]:
clean_data = fill_all_missing_values(data,missing_df,means,TIME_COLUMN_NAME,MUNICIPALITY_COLUMN_NAME)
check_df(clean_data)

##################### Shape #####################
(7700, 3)
##################### Types #####################
municipality_id      int64
usage              float64
total_capacity     float64
dtype: object
##################### Head #####################
                     municipality_id    usage  total_capacity
timestamp
2017-06-04 07:00:00                0  204.000        2813.000
2017-06-04 07:00:00                7  718.000        2019.000
2017-06-04 07:00:00                6  597.000        3113.000
2017-06-04 07:00:00                9  454.000        1332.000
2017-06-04 07:00:00                5   70.000         587.000
2017-06-04 07:00:00                4 1090.000        3893.000
2017-06-04 07:00:00                3  623.000        1930.000
2017-06-04 07:00:00                2  273.000         697.000
2017-06-04 07:00:00                1  129.000         397.000
2017-06-04 07:00:00                8  556.000        2947.000
2017-06-04 08:00:00                6  801.000        3113.000
2017-06-04 08:00:00                0  332.000        2813.000
2017-06-04 08:00:00                7  873.000        2019.000
2017-06-04 08:00:00                3  967.000        1930.000
2017-06-04 08:00:00                2  355.000         697.000
2017-06-04 08:00:00                4 2016.000        3893.000
2017-06-04 08:00:00                5   89.000         587.000
2017-06-04 08:00:00                9  527.000        1332.000
2017-06-04 08:00:00                1  164.000         397.000
2017-06-04 08:00:00                8  857.000        2947.000
2017-06-04 09:00:00                0  485.000        2813.000
2017-06-04 09:00:00                6 1061.000        3113.000
2017-06-04 09:00:00                8 1172.000        2947.000
2017-06-04 09:00:00                3 1263.000        1930.000
2017-06-04 09:00:00                2  494.000         697.000
2017-06-04 09:00:00                7 1151.000        2019.000
2017-06-04 09:00:00                1  245.000         397.000
2017-06-04 09:00:00                5  159.000         587.000
2017-06-04 09:00:00                9  666.000        1332.000
2017-06-04 09:00:00                4 2811.000        3893.000
2017-06-04 10:00:00                4 3178.000        3893.000
2017-06-04 10:00:00                3 1396.000        1930.000
2017-06-04 10:00:00                5  228.000         587.000
2017-06-04 10:00:00                8 1363.000        2947.000
2017-06-04 10:00:00                7 1373.000        2019.000
2017-06-04 10:00:00                2  582.000         697.000
2017-06-04 10:00:00                6 1219.000        3113.000
2017-06-04 10:00:00                9  800.000        1332.000
2017-06-04 10:00:00                1  317.000         397.000
2017-06-04 10:00:00                0  583.000        2813.000
2017-06-04 11:00:00                5  268.000         587.000
2017-06-04 11:00:00                2  643.000         697.000
2017-06-04 11:00:00                6 1297.000        3113.000
2017-06-04 11:00:00                9  845.000        1332.000
2017-06-04 11:00:00                0  614.000        2813.000
2017-06-04 11:00:00                7 1479.000        2019.000
2017-06-04 11:00:00                3 1456.000        1930.000
2017-06-04 11:00:00                1  341.000         397.000
2017-06-04 11:00:00                8 1399.000        2947.000
2017-06-04 11:00:00                4 3257.000        3893.000
2017-06-04 12:00:00                4 3260.000        3893.000
2017-06-04 12:00:00                5  275.000         587.000
2017-06-04 12:00:00                8 1406.000        2947.000
2017-06-04 12:00:00                0  613.000        2813.000
2017-06-04 12:00:00                3 1469.000        1930.000
2017-06-04 12:00:00                2  657.000         697.000
2017-06-04 12:00:00                9  845.000        1332.000
2017-06-04 12:00:00                7 1493.000        2019.000
2017-06-04 12:00:00                1  343.000         397.000
2017-06-04 12:00:00                6 1306.000        3113.000
2017-06-04 13:00:00                3 1457.000        1930.000
2017-06-04 13:00:00                5  278.000         587.000
2017-06-04 13:00:00                7 1470.000        2019.000
2017-06-04 13:00:00                8 1376.000        2947.000
2017-06-04 13:00:00                9  820.000        1332.000
2017-06-04 13:00:00                6 1297.000        3113.000
2017-06-04 13:00:00                0  605.000        2813.000
2017-06-04 13:00:00                4 3241.000        3893.000
2017-06-04 13:00:00                2  660.000         697.000
2017-06-04 13:00:00                1  342.000         397.000
2017-06-04 14:00:00                9  824.000        1332.000
2017-06-04 14:00:00                1  341.000         397.000
2017-06-04 14:00:00                2  646.000         697.000
2017-06-04 14:00:00                6 1271.000        3113.000
2017-06-04 14:00:00                7 1461.000        2019.000
2017-06-04 14:00:00                8 1361.000        2947.000
2017-06-04 14:00:00                0  585.000        2813.000
2017-06-04 14:00:00                3 1439.000        1930.000
2017-06-04 14:00:00                4 3154.000        3893.000
2017-06-04 14:00:00                5  247.000         587.000
2017-06-04 15:00:00                0  520.000        2813.000
2017-06-04 15:00:00                3 1309.000        1930.000
2017-06-04 15:00:00                1  303.000         397.000
2017-06-04 15:00:00                4 2848.000        3893.000
2017-06-04 15:00:00                6 1136.000        3113.000
2017-06-04 15:00:00                9  725.000        1332.000
2017-06-04 15:00:00                7 1297.000        2019.000
2017-06-04 15:00:00                8 1222.000        2947.000
2017-06-04 15:00:00                2  581.000         697.000
2017-06-04 15:00:00                5  174.000         587.000
2017-06-04 16:00:00                6 1028.000        3113.000
2017-06-04 16:00:00                4 2665.000        3893.000
2017-06-04 16:00:00                7 1184.000        2019.000
2017-06-04 16:00:00                2  520.000         697.000
2017-06-04 16:00:00                5  171.000         587.000
2017-06-04 16:00:00                9  673.000        1332.000
2017-06-04 16:00:00                1  279.000         397.000
2017-06-04 16:00:00                0  470.000        2813.000
2017-06-04 16:00:00                8 1130.000        2947.000
2017-06-04 16:00:00                3 1227.000        1930.000
##################### Tail #####################
                     municipality_id    usage  total_capacity
timestamp
2017-08-19 07:00:00                0  229.923             NaN
2017-08-19 07:00:00                1  134.154             NaN
2017-08-19 07:00:00                8  517.423             NaN
2017-08-19 07:00:00                2  310.308             NaN
2017-08-19 07:00:00                3  505.769             NaN
2017-08-19 07:00:00                4 1029.923             NaN
2017-08-19 07:00:00                5   45.000             NaN
2017-08-19 07:00:00                6  636.846             NaN
2017-08-19 07:00:00                7  690.231             NaN
2017-08-19 07:00:00                9  388.923             NaN
2017-08-19 08:00:00                9  340.000        1332.000
2017-08-19 08:00:00                0 1034.000        2813.000
2017-08-19 08:00:00                1  159.000         397.000
2017-08-19 08:00:00                7  684.000        2019.000
2017-08-19 08:00:00                6 1383.000        3113.000
2017-08-19 08:00:00                5   26.000         587.000
2017-08-19 08:00:00                4 1724.000        3893.000
2017-08-19 08:00:00                3  834.000        1930.000
2017-08-19 08:00:00                8  611.000        2947.000
2017-08-19 08:00:00                2  353.000         697.000
2017-08-19 09:00:00                2  480.000         697.000
2017-08-19 09:00:00                9  539.000        1332.000
2017-08-19 09:00:00                8  952.000        2947.000
2017-08-19 09:00:00                5   66.000         587.000
2017-08-19 09:00:00                1  274.000         397.000
2017-08-19 09:00:00                6 1553.000        3113.000
2017-08-19 09:00:00                7 1010.000        2019.000
2017-08-19 09:00:00                4 2613.000        3893.000
2017-08-19 09:00:00                0 1149.000        2813.000
2017-08-19 09:00:00                3 1201.000        1930.000
2017-08-19 10:00:00                9  634.000        1332.000
2017-08-19 10:00:00                7 1151.000        2019.000
2017-08-19 10:00:00                8 1041.000        2947.000
2017-08-19 10:00:00                0 1198.000        2813.000
2017-08-19 10:00:00                2  526.000         697.000
2017-08-19 10:00:00                5  106.000         587.000
2017-08-19 10:00:00                4 2785.000        3893.000
2017-08-19 10:00:00                1  323.000         397.000
2017-08-19 10:00:00                6 1613.000        3113.000
2017-08-19 10:00:00                3 1266.000        1930.000
2017-08-19 11:00:00                3 1380.000        1930.000
2017-08-19 11:00:00                8 1195.000        2947.000
2017-08-19 11:00:00                5  184.000         587.000
2017-08-19 11:00:00                0 1278.000        2813.000
2017-08-19 11:00:00                2  572.000         697.000
2017-08-19 11:00:00                6 1678.000        3113.000
2017-08-19 11:00:00                4 2986.000        3893.000
2017-08-19 11:00:00                1  403.000         397.000
2017-08-19 11:00:00                7 1318.000        2019.000
2017-08-19 11:00:00                9  755.000        1332.000
2017-08-19 12:00:00                5  258.000         587.000
2017-08-19 12:00:00                6 1787.000        3113.000
2017-08-19 12:00:00                2  663.000         697.000
2017-08-19 12:00:00                7 1503.000        2019.000
2017-08-19 12:00:00                9  849.000        1332.000
2017-08-19 12:00:00                0 1281.000        2813.000
2017-08-19 12:00:00                1  406.000         397.000
2017-08-19 12:00:00                4 3157.000        3893.000
2017-08-19 12:00:00                8 1251.000        2947.000
2017-08-19 12:00:00                3 1484.000        1930.000
2017-08-19 13:00:00                2  697.000         697.000
2017-08-19 13:00:00                1  408.000         397.000
2017-08-19 13:00:00                4 3194.000        3893.000
2017-08-19 13:00:00                7 1627.000        2019.000
2017-08-19 13:00:00                3 1519.000        1930.000
2017-08-19 13:00:00                6 1845.000        3113.000
2017-08-19 13:00:00                5  300.000         587.000
2017-08-19 13:00:00                9  941.000        1332.000
2017-08-19 13:00:00                8 1315.000        2947.000
2017-08-19 13:00:00                0 1283.000        2813.000
2017-08-19 14:00:00                6 1853.000        3113.000
2017-08-19 14:00:00                9  983.000        1332.000
2017-08-19 14:00:00                3 1530.000        1930.000
2017-08-19 14:00:00                7 1657.000        2019.000
2017-08-19 14:00:00                2  687.000         697.000
2017-08-19 14:00:00                0 1285.000        2813.000
2017-08-19 14:00:00                1  410.000         397.000
2017-08-19 14:00:00                8 1341.000        2947.000
2017-08-19 14:00:00                4 3183.000        3893.000
2017-08-19 14:00:00                5  318.000         587.000
2017-08-19 15:00:00                6 1829.000        3113.000
2017-08-19 15:00:00                2  651.000         697.000
2017-08-19 15:00:00                7 1618.000        2019.000
2017-08-19 15:00:00                4 3111.000        3893.000
2017-08-19 15:00:00                9  976.000        1332.000
2017-08-19 15:00:00                3 1496.000        1930.000
2017-08-19 15:00:00                8 1336.000        2947.000
2017-08-19 15:00:00                1  411.000         397.000
2017-08-19 15:00:00                0 1286.000        2813.000
2017-08-19 15:00:00                5  309.000         587.000
2017-08-19 16:00:00                2  580.000         697.000
2017-08-19 16:00:00                8 1253.000        2947.000
2017-08-19 16:00:00                5  239.000         587.000
2017-08-19 16:00:00                9  879.000        1332.000
2017-08-19 16:00:00                4 2779.000        3893.000
2017-08-19 16:00:00                3 1330.000        1930.000
2017-08-19 16:00:00                7 1450.000        2019.000
2017-08-19 16:00:00                1  401.000         397.000
2017-08-19 16:00:00                0 1276.000        2813.000
2017-08-19 16:00:00                6 1727.000        3113.000
##################### NA #####################
municipality_id      0
usage                0
total_capacity     960
dtype: int64
##################### Quantiles #####################
                  0.000   0.050    0.500    0.950    0.990    1.000
municipality_id   0.000   0.000    4.500    9.000    9.000    9.000
usage            12.000 134.958  682.215 2548.150 3313.030 3508.000
total_capacity  397.000 397.000 1974.500 3893.000 3893.000 3893.000
##################### Corr #####################
                 municipality_id  usage  total_capacity
municipality_id            1.000  0.184           0.173
usage                      0.184  1.000           0.688
total_capacity             0.173  0.688           1.000
##################### Describe #####################
       municipality_id    usage  total_capacity
count         7700.000 7700.000        6740.000
mean             4.500  864.925        1972.800
std              2.872  673.726        1144.116
min              0.000   12.000         397.000
25%              2.000  396.000         697.000
50%              4.500  682.215        1974.500
75%              7.000 1179.000        2947.000
max              9.000 3508.000        3893.000

In [86]:
def save_clean_data_as_csv(clean_data,municipality_column_name):

    for muni in clean_data[municipality_column_name].unique():  
        clean_data[clean_data[municipality_column_name] == muni].to_csv(f'data/preprocessed/municipality_{muni}.csv', index=True)

In [87]:
save_clean_data_as_csv(clean_data,MUNICIPALITY_COLUMN_NAME)

In [ ]:
# TODO: Fit model.